{% extends 'food/base.html' %}
{% block body %}
<div class = "container">
    <dib class="row">
    <dib class="col-md-4 offset-md-4">
	<div class="wrapper">
		<form action="" method="POST" name="Login_Form" class="form-signin">  
		    <!-- <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3> -->
            {% csrf_token %}     
            {% for field in form %}
                <div class="form-group">
                    {{ field.name }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit">Login</button>
        </form>			
	</div>
    </dib>
    </dib>
</div>
{% endblock %}
<!-- <form method='POST'>
    {% csrf_token %}
    {{form}}
    <button type='submit'> Login </button>
</form> -->